kernel/*.o
kernel/*.d
kernel/kernel.elf
kernel/vectors.S
bootblock/bootblock
bootblock/*.o
bootblock/*.asm
bootblockother/entryother
bootblockother/*.o
bootblockother/*.d
bootblockother/*.asm
initcode/*.d
initcode/*.o
initcode/*.asm
initcode/initcode.out
initcode/initcode
tests/xv6.img
tools/mkfs

